/**************************\
Variables
\**************************/

:root {
    --primary-color: #357b70;
    --primary-color-link-visited: #05676e;
    --primary-color-link-selected: #489c79;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --white: #ffffff;
    --light-grey: #D3D3D3;
}
  
  
/**************************\
ALL Elements
\**************************/

* {
    box-sizing: border-box;
}
  


/**************************\
HTLM & Body
\**************************/

body {
    font-family: 'Lato', sans-serif;
    color: var(--dark-grey);
}




/**************************\
Headings & Paragraphs
\**************************/

h1 {
    font-size: 30px;
    font-weight: 700;
}
  
h2 {
    font-size: 24px;
    font-weight: 700;
}
  
h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    all: unset;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}



/**************************\
Links
\**************************/

a {
    color: var(--primary-color);
}
  
a:visited {
    color: var(--primary-color-link-visited);
}

a:active {
    color: var(--primary-color-link-selected);
}

a:hover, a:focus {
    text-decoration: none;
}


/**************************\
Buttons
\**************************/

li {
    display: flex;
}

button {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 32px;
    margin: 4px 2px;
}


.button-primary {
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.button-primary:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}



/**************************\
  General Styles
\**************************/

.h70px {
     height: 70px;
}
    

.hAuto {
    height: auto;
}

.h100pC {
    height: 100%;
}

.wAuto {
    width: auto;
}

.w100pC {
    width: 100%;
}

.p20 {
    padding: 20px;
}

.border__bottom {
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
    border-bottom-width: 0.5px;
}

.list--none {
    all: unset;
    list-style-type: none;
}

.fs14 {
    font-size: 14px;
}

.capitalize {
    text-transform: capitalize;
}



/**************************\
  Flex-Box Styles
\**************************/

.flex {
    display: flex;
    flex: 1;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex--grow {
    flex-grow: 1;
}

.flex--shrink {
    flex-shrink: 1;
}

.flex--baseAuto {
    flex-basis: auto;
}

.flex--baseMax {
    flex-basis: 1;
}

.flex--centered {
    justify-content: center;
}

.flex--space-between {
    justify-content: space-between;
}
    


/**************************\
  Elements
\**************************/

header {
    background-color:antiquewhite;
    max-height: 70px;
}

main {
    background-color: white;
}

footer {
    background-color: antiquewhite;
    max-height: 70px;
}

.logo {
    width: auto;
    height: 30px;
}

.hidden {
    display: none;
}

.search-container {
    display: flex;
    margin: 20px 0px;
}

#input__search-pokemons {
    all: unset;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }



/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: 'Lato', sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    min-height: 70%;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .modal__close {
    all: unset;
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .detail__header {
    display: flex;
  }
  
  .detail__image {
    width: 140px;
    height: 140px;
  }

  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  